@use '../../../../styles/styles.scss';

.app-sign-out-section {
  display: flex;
  flex-direction: column;
  gap: 18px;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__button {
    @extend .button-outlined;
    border-color: var(--color-dangerous);
    color: var(--color-dangerous);
  }
}
