.app-illustration-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;

  &__illustration {
    width: 100%;
    height: 150px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__text {
    text-align: center;
  }
}
