<div class="app-profile-details-section">
  <h3 class="app-profile-details-section__header">
    Profile details
  </h3>
  <ng-container
    class="app-profile-details-section__body"
    *ngIf="profile; else fetching"
  >
    <div class="app-profile-details-section__body__avatar">
      <img
        class="app-profile-details-section__body__avatar__image"
        [src]="
          profile.avatarPath ||
          'assets/images/default-avatar.svg'
        "
        alt="Profile avatar"
      />

      <label
        class="app-profile-details-section__body__avatar__upload"
        for="avatarInput"
      >
        <input
          id="avatarInput"
          type="file"
          accept="image/*"
          (change)="onAvatarSelected($event)"
          hidden
        />
        <small
          class="profile-details-section__body__avatar__upload-button"
          >Upload image</small
        >
      </label>
    </div>

    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      class="app-profile-details-section__body__form"
    >
      <app-form-field
        label="Display name"
        [control]="displayNameControl"
        type="text"
      />

      <button
        type="submit"
        [disabled]="isSubmitDisabled"
        class="app-profile-details-section__body__form__submit-button"
      >
        <ng-container
          *ngIf="
            loadingState !== LoadingState.LOADING;
            else submitting
          "
        >
          Update profile
        </ng-container>
      </button>
    </form>
  </ng-container>
</div>

<ng-template #fetching>
  <div class="app-profile-details-section__body--loading">
    <div class="skeleton" style="height: 250px"></div>
  </div>
</ng-template>

<ng-template #submitting>
  <span class="spinner"></span>
</ng-template>
