<div class="app-modal">
  <div
    class="app-modal__card"
    [ngStyle]="{ width: cardWidth }"
    (click)="$event.stopPropagation()"
  >
    <div class="app-modal__card__header">
      <h3 class="app-modal__card__header__title">
        {{ configuration.title }}
      </h3>
      <i
        class="app-modal__card__header__close-button mdi mdi-close"
      ></i>
    </div>

    <div class="app-modal__card__content">
      <ng-content select="[content]"></ng-content>
    </div>

    <div class="app-modal__card__footer">
      <button (click)="closeModal()">Cancel</button>
    </div>
  </div>
</div>
