<div class="app-home">
  <aside class="app-home__sidebar">
    <nav class="app-home__sidebar__nav">
      <ul
        class="app-home__sidebar__nav__list"
        *ngFor="let item of topNavigationItems"
      >
        <li>
          <a
            routerLink="{{ item.path }}"
            routerLinkActive="app-home__sidebar__nav__list__item--active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="app-home__sidebar__nav__list__item"
          >
            <span
              class="app-home__sidebar__nav__list__item__icon mdi mdi-{{
                item.icon
              }}"
              aria-hidden="true"
            ></span>
            <span
              class="app-home__sidebar__nav__list__item__text"
              *ngIf="isSidebarExpanded"
              >{{ item.label }}</span
            >
          </a>
        </li>
      </ul>

      <div>
        <ul
          class="app-home__sidebar__nav__list"
          *ngFor="let item of bottomNavigationItems"
        >
          <li>
            <a
              routerLink="{{ item.path }}"
              routerLinkActive="app-home__sidebar__nav__list__item--active"
              [routerLinkActiveOptions]="{ exact: true }"
              class="app-home__sidebar__nav__list__item"
            >
              <span
                class="app-home__sidebar__nav__list__item__icon mdi mdi-{{
                  item.icon
                }}"
                aria-hidden="true"
              ></span>
              <span
                class="app-home__sidebar__nav__list__item__text"
                *ngIf="isSidebarExpanded"
                >{{ item.label }}
              </span>
            </a>
          </li>
        </ul>

        <a
          routerLink="settings"
          routerLinkActive="app-home__sidebar__nav__list__item--active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="app-home__sidebar__nav__list__item"
        >
          <div class="avatar-wrapper">
            <div
              *ngIf="isImageLoading"
              class="spinner"
            ></div>

            <img
              class="app-home__sidebar__nav__list__item__image"
              [src]="
                profile?.avatarPath ??
                'https://ui-avatars.com/api/?name=' +
                  profile?.displayName
              "
              (load)="onImageLoad()"
              [hidden]="isImageLoading"
            />
          </div>

          <span
            class="app-home__sidebar__nav__list__item__text"
            *ngIf="isSidebarExpanded"
            >{{ profile?.displayName }}
          </span>
        </a>

        <button
          class="app-home__sidebar__nav__toggle"
          type="button"
          (click)="isSidebarExpanded = !isSidebarExpanded"
        >
          <div class="app-home__sidebar__nav__list__item">
            <span
              class="app-home__sidebar__nav__list__item__icon mdi mdi-{{
                isSidebarExpanded
                  ? 'arrow-collapse-left'
                  : 'arrow-collapse-right'
              }}"
            >
            </span>

            <span
              class="app-home__sidebar__nav__list__item__text"
              *ngIf="isSidebarExpanded"
              >Collapse
            </span>
          </div>
        </button>
      </div>
    </nav>
  </aside>

  <main class="app-home__main">
    <router-outlet></router-outlet>
  </main>
</div>
