@use '../../styles/styles.scss';

.app-log-in-screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  background: var(--color-background);

  &__card {
    width: 50%;
    height: 80%;
    border-radius: 24px 24px 0 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background: var(--color-white);

    &__header {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      height: 200px;
      padding-top: 36px;
      gap: 16px;
      border-radius: 24px 24px 0 0;
      background-color: var(--color-primary);
      background-size: cover;
      background-position: left center;
      clip-path: path(
        'M0,0 L0,180 Q150,220 300,180 Q450,140 600,180 Q750,220 900,180 L900,0 Z'
      );

      &__app-name {
        font-weight: bold;
        color: var(--color-white);
      }

      &__title {
        font-weight: 500;
        color: var(--color-gray-50);
      }
    }

    &__body {
      padding: 24px 48px;

      &__form {
        display: flex;
        flex-direction: column;
        gap: 24px;

        &__input-group {
          display: flex;
          flex-direction: column;
          gap: 4px;

          &__label {
            font-weight: 600;
          }

          &__input {
            padding: 8px;
            border: none;
            border-bottom: 2px solid var(--color-border);
            border-radius: 4px;

            &:focus {
              outline: none;
              border-bottom: 2px solid var(--color-primary);
            }
          }

          &__error {
            font-size: var(--font-size-xs);
            color: red;
          }
        }

        &__submit-button {
          margin-top: 12px;
          padding: 12px;
          border: none;
          border-radius: 100px;
          background-color: var(--color-primary);
          color: var(--color-white);
          font-size: var(--font-size-lg);
          font-weight: 600;
          cursor: pointer;

          &:hover {
            filter: brightness(120%);
          }

          &:disabled {
            background-color: var(--color-disabled);
            cursor: not-allowed;
            filter: none;
          }
        }
      }
    }
  }
}
