.app-dashboard-screen {
  display: flex;
  justify-content: space-between;
  gap: 24px;

  > * {
    flex: 1;
  }
  &__section {
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 24px;
    background-color: var(--color-white);
  }
}
