.app-dashboard-screen {
  display: flex;
  justify-content: space-between;
  gap: 12px;

  &__section {
    display: block;
    margin-bottom: 12px;
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--color-white);
  }
}
