<app-modal
  *ngIf="isVisible"
  [configuration]="configuration"
  (close)="handleCloseEmitted()"
>
  <div content>
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      (keydown.enter)="onSubmit()"
      class="app-change-password-modal__form"
    >
      <app-form-field
        label="Current password"
        type="password"
        [control]="fieldControl('currentPassword')"
      ></app-form-field>

      <app-form-field
        label="New password"
        type="password"
        [control]="fieldControl('newPassword')"
      ></app-form-field>

      <app-form-field
        label="Retyped password"
        type="password"
        [control]="fieldControl('retypedPassword')"
      ></app-form-field>

      <button
        type="submit"
        [disabled]="form.invalid"
        class="app-change-password-modal__form__submit-button"
      >
        <ng-container
          *ngIf="
            loadingState !== LoadingState.LOADING;
            else loading
          "
        >
          Submit
        </ng-container>
      </button>
    </form>
  </div>
</app-modal>

<ng-template #loading>
  <span class="spinner"></span>
</ng-template>
