@use '../../styles/styles.scss';

.app-change-password-modal {
  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__submit-button {
      margin-top: 12px;
      @extend .button-primary;
    }
  }
}

.input-group {
  gap: 4px;
}
