<app-modal
  *ngIf="isVisible"
  [configuration]="modalConfiguration"
>
  <div content>
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      (keydown.enter)="onSubmit()"
      class="app-change-password-modal__form"
    >
      <div class="input-group">
        <label class="input-group__label"
          >Current password:</label
        >
        <input
          type="password"
          formControlName="current"
          autocomplete="off"
          class="input-group__input"
        />
        <div
          *ngIf="
            form.get('current')?.invalid &&
            form.get('current')?.touched
          "
          class="input-group__error"
        >
          <small
            *ngIf="
              form.get('current')?.errors?.['required']
            "
            >Current password is required.</small
          >
          <small
            *ngIf="
              form.get('current')?.errors?.['minlength']
            "
            >Must be at least 2 characters</small
          >
        </div>
      </div>

      <div class="input-group">
        <label class="input-group__label"
          >New password:</label
        >
        <input
          type="password"
          formControlName="new"
          autocomplete="off"
          class="input-group__input"
        />
        <div
          *ngIf="
            form.get('new')?.invalid &&
            form.get('new')?.touched
          "
          class="input-group__error"
        >
          <small
            *ngIf="form.get('new')?.errors?.['required']"
            >New password is required.</small
          >
          <small
            *ngIf="
              form.get('password')?.errors?.['minlength']
            "
            >Must be at least 8 characters.</small
          >
        </div>
      </div>

      <div class="input-group">
        <label class="input-group__label"
          >Retyped password:</label
        >
        <input
          type="password"
          formControlName="retyped"
          autocomplete="off"
          class="input-group__input"
        />
        <div
          *ngIf="
            form.get('retyped')?.invalid &&
            form.get('retyped')?.touched
          "
          class="input-group__error"
        >
          <small
            *ngIf="
              form.get('retyped')?.errors?.['required']
            "
            >Retyped password is required.</small
          >
          <small
            *ngIf="
              form.get('retyped')?.errors?.['minlength']
            "
            >Must be at least 8 characters.</small
          >
          <small
            *ngIf="
              form.get('retyped')?.errors?.['mismatch'] &&
              form.get('retyped')?.touched
            "
          >
            Passwords do not match.
          </small>
        </div>
      </div>

      <button
        type="submit"
        [disabled]="form.invalid"
        class="app-change-password-modal__form__submit-button"
      >
        <ng-container
          *ngIf="
            loadingState !== LoadingState.LOADING;
            else loading
          "
        >
          Submit
        </ng-container>
      </button>
    </form>
  </div>
</app-modal>

<ng-template #loading>
  <span class="spinner"></span>
</ng-template>
